# ============================================
# Application Settings
# ============================================
APP_ENVIRONMENT=local
APP_PORT=8080
RATE_LIMIT_ENABLED=true
RATE_LIMIT_PER_MIN=60

# ============================================
# Database Settings
# ============================================
DATABASE_URL=postgres://golinky-user:golinky-password@postgres:5432/golinky
REDIS_URL=redis://redis:6379/0